body{
    margin: 0;
    
}
.common-color{
    color: rgba(255, 166, 0, 0.781);
}
.btn{
    padding: 15px 40px;
    background: rgb(216, 101, 34);
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 5px;
}

/* area one start */

.mission-part{
    display: flex;
}

.mission-part-haif{
    width: 40%;
    padding: 5%;
    
}

.mission-part-haif h1{
     font-size: 60px;
     text-transform: capitalize;
     position: relative;
     padding-left: 10px;
}

.mission-part-haif h1::after{
    position: absolute;
    top: 0;
    content: "";
    left: -2%;
    width: 5px;
    height: 130px;
    background: chocolate;
}


.mission-part-haif p{
   line-height: 1.4;
   font-size: 18px;
   margin-bottom: 30px;
}



.mission-part-haif h5{
    font-size: 20px;
    font-weight: 400;
    margin-top: 50px;
}
.mission-part-haif img{
    width: 80%;
}


/* part one end */


/* part two start */
#area-two{
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 50px;
}
#area-two h2{
    text-align: center;
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 900;
}
.mission-card-area{
    display: flex;
}

.mission-card{
    width: 30%;
    margin: 2%;
    background: lightblue;
    padding: 25px;
    border-radius: 20px;
}
.color-02{
   background: rgb(196, 238, 196);
} 

.color-03{
    background: rgb(240, 208, 213);
 } 
.mission-card img{
    width: 50%;
    margin-left: -20px;
}
.mission-card h3{
   font-size: 26px;
   text-transform: capitalize;
}
.mission-card p{
    line-height: 1.2;
    font-size: 18px;
}

/* part two end */

/* part three start */

#area-three{
    margin-bottom: 90px;
}

.develop-area{
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
}
.develop-part-haif-01{
    width: 40%;
    padding-right: 5%;
}
.develop-part-haif-01 img{
    width: 90%;
    margin-left: 20px;
}
.develop-part-haif-02{
    width: 50%;
    padding-left: 3%;
}

.develop-part-haif-02 h2{
    font-size: 50px;
    text-transform: capitalize;

}
.develop-part-haif-02 p{
    font-size: 20px;
    line-height: 1.4;
    padding-bottom: 30px;
}

/* part three end */

/* part four start */

#area-four{
    margin-bottom: 90px;
}

/* part four end */

/* footer part start */

#footer-area {
    background: rgb(9, 10, 20);
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
}

#footer-area h2{
    color: #fff;
    text-transform: capitalize;
    font-size: 40px;
}

#footer-area p{
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
    margin-top: -30px;
}
